---
---

/* DEBUG: se questo funziona la pagina diventa rossa */
/* TEST: se funziona diventa rosso */
.page__hero--overlay {
  background: red !important;
}


/* NASCONDE TESTO JADESALVATORI */
.site-title {
  display: none !important;
}

/* LOGO PIÙ BELLO */
.site-logo img {
  max-height: 45px;
}
