---
---

@import "minimal-mistakes";
/* ========================================= */
/* SOLO ARTICOLI (FIX GIUSTO)                */
/* ========================================= */
.article .initial-content {
  padding-left: 40px;
  padding-right: 40px;
}

/* ========================================= */
/* HERO                                      */
/* ========================================= */

.page__hero--overlay,
.initial-content .page__hero--overlay {
  background: linear-gradient(
    120deg,
    #0a2540,
    #0d3b66,
    #1fb6ff
  ) !important;
}

.page__hero--overlay::before {
  background: transparent !important;
}

/* ========================================= */
/* HEADER                                    */
/* ========================================= */

.site-title {
  display: none !important;
}

.site-logo img {
  max-height: 45px;
}
